
<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
  <h3 class="page-title "><i class="fa  fa-slideshare"></i> Trainings </h3>
</div>
<div class="clearfix"></div>
<div class="panel panel-default" >
  <div class="panel-body">
    <div class="col-lg-12 mg-bt-md">
      <div class="col-lg-10">
      <input  type="text" autocomplete="off" class="form-control" id="name"  ng-model="trainingCtlr.filter" placeholder="Filtrer...">
      </div>
        <span  type="button" class="btn btn-success" ng-click="trainingCtlr.creer()">Créer</span>
    </div>
    <div class="col-lg-12">
      <div class=" mg-bt-xs" ng-repeat="training in trainingCtlr.trainings | filter:trainingCtlr.filter "><div class="col-md-4">{{training.name}}</div>
        <button type="button" class="btn btn-info" ng-click="trainingCtlr.ouvrirDetails(training)">Détails</button></div>
    </div>
  </div>
</div>
